<!DOCTYPE html>
<html>
  
  <head>
     <link rel="stylesheet" type="text/css" href="css/style.css">
   <link href='http://fonts.googleapis.com/css?family=Limelight' rel='stylesheet' type='text/css'>
    <title>Bored</title>
  </head>
  
  <body>
    <link href='http://fonts.googleapis.com/css?family=Limelight' rel='stylesheet' type='text/css'>
    <form method="POST" action="/results">
      <h1>Would you like to play a sport or spend time in nature?</h1>
      <br>Play a sport
      <input type="radio" name="thing" value="sport">
      <br>Spend time in nature
      <input type="radio" name="thing" value="nature">
      <br>
      <input type="submit" value="Submit">
    </form>
  </body> 
</html>
  