<!DOCTYPE html>
<html>
  
  <head>
    <title>Bored</title>
  </head>
  
  <body>
    <form method="POST" action="/results">
      <h1>Would you like a TV show or a book?</h1>
      <br>TV show
      <input type="radio" name="thing" value="tv show">
      <br>Book
      <input type="radio" name="thing" value="book">
      <br>
      <input type="submit" value="Submit">
    </form>
  </body> 
</html>
  