<!DOCTYPE html>
<html>
  
  <head>
    <title>Bored</title>
  </head>
  
  <body>
    <form method="POST" action="/results">
      <h1>Would you like to play a sport or spend time inside?</h1>
      <br>Play a sport
      <input type="radio" name="thing" value="sport">
      <br>Spend time in nature
      <input type="radio" name="thing" value="nature">
      <br>
      <input type="submit" value="Submit">
    </form>
  </body> 
</html>
  