<!doctype html>
<html>
  <head>
  <title>Bored</title>
  </head>
  <body>
    <h1>Bored</h1>
    <form method = "POST" action = "/quiz">
      <br>Are you bored?
      <br>Yes
      <input type="radio" name="bored" value="Yes">
      <br>No
      <input type="radio" name="bored" value="No">
      <input type="submit" value="Submit">
    </form>
  </body>
  
</html>