<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
   <link href='http://fonts.googleapis.com/css?family=Limelight' rel='stylesheet' type='text/css'>
  <title>Bored</title>
  </head>
  <body>
    <link href='http://fonts.googleapis.com/css?family=Limelight' rel='stylesheet' type='text/css'>
    <h1>Bored</h1>
    <form method = "POST" action = "/quiz">
      <br>Are you bored?
      <br>Yes
      <input type="radio" name="bored" value="Yes">
      <br>No
      <input type="radio" name="bored" value="No">
      <br>
      
      <input type="submit" value="Submit">
    </form>
  </body>
  
</html>