<!DOCTYPE html>
<html>
  
  <head>
    <title>Bored</title>
  </head>
  
  <body>
    <form method="POST" action="/results">
      <h1>Would you like to go sightseeing or go shopping?</h1>
      <br>Sightseeing
      <input type="radio" name="thing" value="sightseeing">
      <br>Shopping
      <input type="radio" name="thing" value="shopping">
      <br>
      <input type="submit" value="Submit">
    </form>
  </body> 
</html>
  