<!DOCTYPE html>
<html>
  
  <head>
    <title>Bored</title>
  </head>
  
  <body>
    <form method="POST" action="/results">
      <h1>Would you like to go to a resteraunt or a movie?</h1>
      <br>Restaurant
      <input type="radio" name="thing" value="restaurant">
      <br>Movie
      <input type="radio" name="thing" value="movie">
      <br>
      <input type="submit" value="Submit">
    </form>
  </body> 
</html>
  