<!doctype html>
<html>
  <head>
  Bored
  </head>
  
  <body>
    <h1>Why are you on this page?</h1>
    <p>If you feel bad about wasting your time go <a href="../index.erb" id="links">here</a>
  </body>
  
</html>