<!doctype html>
<html>
  <head>
     <link rel="stylesheet" type="text/css" href="css/style.css">
   <link href='http://fonts.googleapis.com/css?family=Limelight' rel='stylesheet' type='text/css'>
  Bored
  </head>
  
  <body>
    <link href='http://fonts.googleapis.com/css?family=Limelight' rel='stylesheet' type='text/css'>
    <h1>Why are you on this page?</h1>
    <p>If you feel bad about wasting your time go <a href="../" id="links">here</a>
  </body>
  
</html>