<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>Lets start the quiz!</h1> 
    <form method="POST" action="/last_question">
      <br>Do you want to spend money?
      <br>Yes
      <input type="radio" name="money" value="yes">
      <br>No
      <input type="radio" name="money" value="no">
      <br>Do you want to go outside or stay inside?
      <br>Stay inside
      <input type="radio" name="nature" value="inside">
      <br>Go outside
      <input type="radio" name="nature" value="outside">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
