<!DOCTYPE html>
<html>
  <head>
  </head>
  
  <body>
    <h1>You should...</h1>
    <!-- Make h2 this a lot smaller-->
    <h2>(refresh for a different answer)</h2> 
    <h2><%=@output%></h2>
  </body>
</html>